*{
    margin: 0;
    padding: 0;
}

.fondomov {
    background-image: url(../img/Fondo/Fondofijotienda.gif);
    background-size: cover;
    background-attachment: fixed;
}

.autores2 {
    background-color: (201, 201, 201);
    z-index: 10;
    background-color: rgba(115, 115, 115, 0.348);
    border-radius: 10px;
}

.clase1 {
    background-color: rgb(241, 236, 236);
}

#merch {
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url(../img/merch/gif\ atardecer.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

#merch img{
    width: 1000px;
}

#merch img{
    width: 1000px;
}

#merch p{
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 350px;
    font-size: 15px;
    text-align: center;
}

#merch h3{
    color: red;
    position: absolute;
    bottom: 300px;
    font-size: 40px;
    text-align: center;
}

#merch h2{
    color: red;
    position: absolute;
    bottom: 240px;
    font-size: 50px;
    text-align: center;
}

#merch button{
    background-color: red;
    color: white;
    position: absolute;
    bottom: 190px;
    border-style: none;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    font-size: 20px;
}