section {
    display: flex;
    justify-content: center;
}

.row2 {
    justify-content: center;
}

.cambuser {
    display: flex;
    flex-flow: column wrap;
}

.perfil {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5em;
}
.info-perfil p {
    font-size: large;
}

.row2 {
    display: flex;
    flex-flow: space-between wrap;
    justify-content: center;

}

.cambuser {
    padding: 0.5em;
}
.cambuser *{
    margin: 0.5em;
}

.cambpasw {
    padding: 0.5em;
}

.perfil input{
    padding: 1em;
    border-radius: 5%;
    margin-left: 1em;
    margin-right: 1em;
}

.perfil button {
    padding: 1em 0.5em 1em 0.5em;
     background-color: crimson;
     border-radius: 5%;
     color: white;
     text-size-adjust: bold;
}

.perfil button:hover {
     background-color: rgb(255, 255, 255);
     color: crimson;
     text-transform:bold;
}